In [1]:
import pandas as pd
import numpy as np

from sklearn import tree

import seaborn as sns
import matplotlib.pyplot as plt
import statistics

%matplotlib inline

## Энтропия

$$E = -\sum_{i=1}^n p_i*log_{2}p_i$$

для предыдущей задачи: $E = -\sum_{i=1}^n 1/2*log_{2}1/2 -\sum_{i=1}^n 1/2*log_{2}1/2 = -\sum_{i=1}^n *log_{2}1/2 = 1$

если все значения одинаковы: $E = -1 * log_{2}1 - 0 * log_{2}0 = 1*0 - 0*1 = 0$

In [20]:
import math
p1 = 4
p2 = 6
E = -(p1*math.log(p1,2) + p2*math.log(p2,2))
E

-23.509775004326936

## Information Gain

$$IG = E(Y) - E(Y|X)$$
$n_0, n_1$ - выборка при x = 0, x = 1

$n_0 + n_1 = N$

$E_0, E_1$ - энтропия x = 0, x = 1
$$E(Y|X) = n_0/N * E_0 +  n_1/N * E_1 $$

In [36]:
E0 = 0
E1 = 0.721
n0 = 5
n1 = 5
N = n0 + n1
IG = 0.971 - (n0*E0 + n1*E1)/N
IG

0.6105

In [3]:
df_dogs = pd.read_csv('https://stepik.org/media/attachments/course/4852/dogs.csv')

In [9]:
df_dogs.rename(columns={'Unnamed: 0' : 'number',
                        'Шерстист': 'sherst',
                        'Гавкает': 'gav',
                        'Лазает по деревьям': 'laz',
                        'Вид': 'vid'}, inplace=True)
df_dogs.head()

   number  sherst  gav  laz      vid
0       0       1    1    0  собачка
1       1       1    1    0  собачка
2       2       1    1    0  собачка
3       3       1    1    0  собачка
4       4       1    0    1    котик

In [13]:
from scipy.stats import entropy
round(entropy([4/9,5/9],base=2),2)

0.99

In [18]:
# шерстист

print('Соба', (1/1)*math.log2((1/1)) - 0)
print('Кот', -(4/9)*math.log2((4/9)) - (5/9)*math.log2((5/9)))

Соба 0.0
Кот 0.9910760598382222

In [18]:
# гавкает

print('Соба', 0 - (5/5)*math.log2((5/5)))
print('Кот', -(4/5)*math.log2((4/5)) - (1/5)*math.log2((1/5)))

Соба 0.0
Кот 0.7219280948873623

In [20]:
# лазает по деревьям

print('Соба', 0 - (6/6)*math.log2((6/6)))
print('Кот', -(4/4)*math.log2((4/4)) - 0)

Соба 0.0
Кот -0.0